.container-horarios {
    overflow-x: hidden;
    background-color: white;
}

.container-1{
    
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
    grid-template-areas: "showcase" "horarios-precios";
    overflow-x: hidden;
    background-color:white;
}

.container-2{
    
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info-clases info-camp" "footer footer";
    overflow-x: hidden;
    background-color:white;
    
}

.showcase-escuela {
    grid-area: showcase;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

.institut-subtitulo {
    color:rgb(14, 14, 88);
}

.horarios-precios {
    grid-area: horarios-precios;
    display: flex;
    
}

.horarios-precios h3{
    padding-top: 0.5rem;
    
}

.horarios-precios div {
    width: 50%;
    padding: 1rem 1rem;
    
}

.info-horarios {
    font-size: 1rem;
    line-height: 1.6rem;  
    display: flex;
    flex-direction: column; 
}

.info-horarios p{
    padding-bottom: 1rem;
}

.info-horarios div {
    width: 100%;
}

.info-precios {
    font-size: 1rem;
    line-height: 1.6rem;  
    display: flex;
    flex-direction: column; 
}

.info-precios p{
    padding-bottom: 1rem;
}

.info-precios div {
    width: 100%;
}

.info-clases{
    grid-area: info-clases;
    font-size: 1rem;
    line-height: 1.6rem;  
    display: flex;
    flex-direction: column;
}

.info-clases p{
    padding-bottom: 1rem;
}
.info-clases div{
    width: 100%;
}

.info-camp{
    grid-area: info-camp;
    font-size: 1rem;
    line-height: 1.6rem;  
    display: flex;
    flex-direction: column;
}
.info-camp p {
    padding-bottom: 1rem;
}
.info-camp div{
    width: 100%;
}

.container-2 h3 {
    padding-bottom: 0.5rem;
}

.container-2 div {
    padding: 1rem 1rem;
    
}

.btn-regresar {
    position: absolute;
    font-size: 1.1rem;
    left: 2%;
    top: 10%;
    color: white;
    background: rgb(14, 14, 88);
    padding: 0.5rem 0.5rem;
}

.footer {
    grid-area: footer;
    min-height: 10vh;
}