@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,300;1,400;1,500;1,600;1,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
 
}

body {
    background-color: rgb(255, 255, 255);
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 35px;
    height: 35px;
}

#video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    filter: brightness(0.8) grayscale(0.1);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.big-container {
    display: grid;
    overflow-x: hidden;
    background-color: white;
   
}

.showcase {
    display: grid;
    max-width: 100vw;
    background-color: white;
    height: 100vh;
    padding-top: 1.4rem;
    grid-template-areas: "showcase-escuela" "showcase-navbar" "hero-container";
    z-index: 15;
}
.showcase-navbar {
    max-width: 100vw; 
}

.showcase-escuela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.showcase-escuela .nombre {
    text-align: center;
    padding: 0.3rem 0;
}

.showcase-escuela .nombre h1 {
    font-weight: normal;
    font-size: 1.5rem;
}

.logo img {
    width: 6rem;
    max-width: 100%;
    height: auto;
    filter: drop-shadow(2px 4px 8px rgba(14, 14, 88, 0.808))
}

.showcase-navbar .navbar {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
}

.navbar li {
    padding: 0.7rem 0;
}

.navbar li a {
    display: inline-flex;
    align-items: center;
    color: rgba(14, 14, 88, 0.808);
    font-weight: 600;
    padding: 1.5rem 0.6rem;
    font-size: 1.2rem;
    height: 1.5rem;
    transition: all ease 0.4s;
}

.navbar li a:hover {
    background: rgb(14, 14, 88);
    color: white;
}

.hero-container {
    grid-area: hero-container;
    height: 60vh;
}

.hero-video {
    width: 100%;
    height: 55vh;
    position: relative;
}

.hero-video a {
    position: absolute;
    background: rgba(14, 14, 88, 0.808);
    color: white;
    font-size: 1rem;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease 0.6s;
}

.hero-video a:hover {
    background-color: rgb(14, 14, 88);
    box-shadow: 0.08px 0.08px 20px rgb(14, 14, 88);
}

.estudiar-container {
    height: 100vh;
    max-width: 100vw;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". ingles estudiar-imagen estudiar-imagen italiano . " "frances . estudiar-imagen estudiar-imagen . ruso" ". aleman estudiar-imagen estudiar-imagen español ." "catalan . estudiar-imagen estudiar-imagen . portugues";
    padding: 1rem;
    font-size: 1rem;
}

.estudiar-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estudiar-container img {
    width: 9rem;
    height: 6rem;
}

.estudiar-imagen img {
    width: 85%;
    height: auto;
}

.idioma img {
    filter: brightness(0.5) grayscale(0.1);
    transition: all ease 0.5s;
    max-width: 100%;
}

.idioma img:hover {
    filter: none;
    box-shadow: 2px 4px 10px rgb(78, 78, 78);
    transform: scale(1.1);
}

.idioma h3 {
    padding-bottom: 0.8rem;
}

.ingles {
    grid-area: ingles;
}

.frances {
    grid-area: frances;
}

.aleman {
    grid-area: aleman;
}

.catalan {
    grid-area: catalan;
}

.italiano {
    grid-area: italiano;
}

.ruso {
    grid-area: ruso;
}

.español {
    grid-area: español;
}

.portugues {
    grid-area: portugues;
}

.estudiar-imagen {
    grid-area: estudiar-imagen;
}

.btn-horaris {
    color: white;
    background: rgb(1, 1, 117);
    padding: 0.5rem 0.4rem;
    margin-top: 3rem;
    font-size: 1.6rem;
    transition: all 0.4s ease;
}

.btn-horaris:hover {
    color: white;
    text-shadow: 0 0 1.5rem white;
    transform: scale(1.1);
    box-shadow: 1px 1px 10px black;
    background: rgb(3, 3, 138);
    margin-top: 3rem;
    font-size: 1.5rem;
}

.institut-container {
    height: 100vh;
    max-width: 100vw;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "metodologia institut-imagen niveles" "metodologia institut-imagen pruebas" "profesorado institut-imagen examenes";
    font-size: 1rem;
    line-height: 1.8rem;
    padding: 1rem 2rem;
    z-index: 2;
}

.institut-container h3 {
    color: rgb(14, 14, 88);
    padding-bottom: 1rem;
}

.metodologia {
    grid-area: metodologia;
}

.institut-imagen {
    grid-area: institut-imagen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.institut-imagen img {
    width: 20rem;
    height: 20rem;
    margin-bottom: 10rem;
}

.niveles {
    grid-area: niveles;
    padding-top: 1rem;
}

.pruebas {
    grid-area: pruebas;
}

.profesorado {
    grid-area: profesorado;
}

.examenes {
    grid-area: examenes;
    display:flex;
    flex-direction: column;
    

}

.examenes img{

   width: 9rem;
   height: 6rem;
   align-self: center;
   padding-top: 1rem; 
}


.textoBanderaClick {
    transform: translate(0px, -5px);
}

.contacte-container {
    height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 0.5fr;
    grid-template-areas: "map contacto" "footer footer";
    align-content: center;
    justify-items: center;
    z-index: 15;
}

.mapa-responsive {
    grid-area: map;
    align-self: center;
    margin-left: 2rem;
    height: 70vh;
    width: 50vh;
}

.mapa-responsive iframe {
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 15px black;
}

.datos-contacto {
    grid-area: contacto;
    align-self: center;
    font-size: 2rem;
    line-height: 3.5rem;
}

.footer {
    grid-area: footer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 88);
    width: 100vw;
}

.footer h6 {
    color: white;
    font-size: 1rem;
    font-weight: lighter;
}

.footer a {
    position: absolute;
    bottom: 10%;
    left: 1%;
    color: white;
    font-size: 0.5rem;
    font-weight: normal;
}

.idioma {
    z-index: 10;
}

main {
    position: relative;
    height: 100vh;
    max-width: 100vw;
}

.bolas {
    position: relative;
    background-color: rgb(1, 1, 117);
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
}

.bola4 {
    position: absolute;
    right: -5%;
    top: -7%;
}

.bola5 {
    display: flex;
    justify-content: center;
    align-items: start;
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: -125vh;
    top: 80vh;
    width: 70vw;
    height: 70vw;
    max-width: 150vh;
}

/*media queries*/

@media screen and (max-width: 500px){
    
    .showcase {
        display: grid;
        max-width: 100vw;
        background-color: white;
        height: 100vh;
        padding-top: 1rem;
        grid-template-areas: "showcase-escuela" "showcase-navbar";
        z-index: 15;
    }

    .showcase-escuela {
        margin-top: 0;
    }

    .showcase-escuela .nombre h1 {
        font-weight: lighter;
        font-size: 1.2rem;
        padding-top: 0.2rem;
    }

    .showcase-navbar {
        display: flex;
        flex-direction:column;
        justify-content: start;
    }
    .showcase-navbar .navbar {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        margin-top: 0rem;
    }

    .hero-container {
        display: none;
        
    }

    .estudiar-container {
        height: 100vh;
        max-width: 100vw;
        background: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 18vh 18vh 18vh 18vh;
        grid-template-areas: "ingles  italiano " "frances ruso" "aleman español" "catalan portugues";
        padding: 1rem;
        font-size: 1rem;
    }

    .estudiar-imagen img{
        display: none;
    }

    .estudiar-container img {
        width: 6rem;
        height: 4rem;
    }

    .bola5 {
        display: flex;
        justify-content: center;
        align-items: start;
        position: absolute;
        left: 0%;
        right: 15%;
        bottom: -125vh;
        top: 80vh;
        width: 100vw;
        height: 100vw;
        max-width: 150vh;
    }

    .institut-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "metodologia niveles" "institut-imagen institut-imagen" "profesorado examenes";
        padding: 0rem 0rem;
        z-index: 2;
        
    }

    .institut-container div p {
        display:none;
    }

    .institut-container div:nth-child(4) {
        display:none;
    }

    .institut-container div:nth-child(5) img{
        display:none;
    }

    .institut-container div {
        display:grid;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    

    
    .institut-imagen {
        grid-area: institut-imagen;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .institut-imagen img {
        width: 20rem;
        height: 20rem;
        margin-bottom: 0rem;
    }

    .contacte-container {
        height: 100vh;
        max-width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 1fr;
        grid-template-areas: "contacto" "footer";
    }
    
    .mapa-responsive {
        display:none;
    }

    .datos-contacto {
        font-size: 1rem;
    }
    
    
    .footer h6 {
        color: white;
        font-size: 1rem;
        text-align: center;
        line-height:1.2rem;
        font-weight: normal;
    }
    
    .footer a {
        font-size: 0.6rem;
    }
    
    
}

@media screen and (max-width: 700px){

    .estudiar-container {
        height: 100vh;
        max-width: 100vw;
        background: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 18vh 18vh 18vh 18vh;
        grid-template-areas: "ingles  italiano " "frances ruso" "aleman español" "catalan portugues";
        padding: 1rem;
        font-size: 1rem;
    }

    .estudiar-imagen img{
        display: none;
    }

    .estudiar-container img {
        width: 6rem;
        height: 4rem;
    }

    .bola5 {
        display: flex;
        justify-content: center;
        align-items: start;
        position: absolute;
        left: 0%;
        right: 15%;
        bottom: -125vh;
        top: 80vh;
        width: 100vw;
        height: 100vw;
        max-width: 150vh;
    }

    .institut-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "metodologia niveles" "institut-imagen institut-imagen" "profesorado examenes";
        padding: 0rem 0rem;
        z-index: 2;
        
    }

    .institut-container div p {
        display:none;
    }

    .institut-container div:nth-child(4) {
        display:none;
    }

    .institut-container div:nth-child(5) img{
        display:none;
    }

    .institut-container div {
        display:grid;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    

    
    .institut-imagen {
        grid-area: institut-imagen;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .institut-imagen img {
        width: 20rem;
        height: 20rem;
        margin-bottom: 0rem;
    }

    .contacte-container {
        height: 100vh;
        max-width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 1fr;
        grid-template-areas: "contacto" "footer";
    }
    
    .mapa-responsive {
        display:none;
    }

    .datos-contacto {
        font-size: 1rem;
    }
    
    
    .footer h6 {
        color: white;
        font-size: 1rem;
        text-align: center;
        line-height:1.2rem;
        font-weight: normal;
    }
    
    .footer a {
        font-size: 0.6rem;
    }
    

}

@media only screen and (min-width: 701px) and (max-width: 1024px) {

    
.institut-container {
    position: relative;
    height: 90vh;
    max-width: 100vw;
    background: rgb(255, 255, 255);
    display: -moz-inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "metodologia niveles" "metodologia pruebas" "profesorado examenes";
    font-size: 0.8rem;
    line-height: 1.8rem;
    padding: 1rem 0rem 1rem 1rem;
    z-index: 2;
    grid-gap: 1rem;
}

.institut-imagen {
    float: center;
    shape-outside: url("/imagenes/graduation.png");
}


.institut-imagen img {
    display: none;
   
}

.metodologia {
  
    grid-row: 1 /span 2;
}
.niveles {
  
    grid-area: niveles;
    padding-top: 0;
}

.pruebas {

    grid-area: pruebas;
}

.profesorado {
    grid-area: profesorado;
    grid-row: 3/ span 1;
}

.examenes {
    grid-area: examenes;
  
}

.examenes img{

   width: 9rem;
   height: 6rem;
   align-self: center;
   padding-top: 1rem; 
}
.footer {
 
    width: 100%;
}

.mapa-responsive {
    grid-area: map;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left: 2rem;
    height: 70vh;
    width: 50vh;
}

.mapa-responsive iframe {
    height: 70%;
    width: 70%;
    box-shadow: 2px 2px 15px black;
}

.datos-contacto {
    grid-area: contacto;
    align-self: center;
    font-size: 1rem;
    line-height: 3.5rem;
}


}