body{
    background-color: rgba(35, 29, 121, 0.74);
}

form {
    margin: 2rem auto;
    background-color: rgb(161, 176, 219);
    width: 50%;
    /* To see the limits of the form */
    padding: 1em;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    filter: drop-shadow(3px 4px 20px black);
}

.form-container{
    display: flex;
    flex-direction: column;
    
}

.form-group{
    display: flex;
    flex-direction: column;
}
.form-group label{
    width: 20rem;
    padding: 0.5rem 0.2rem;
}


div+div {
    margin-top: 1em;
}

.btn-submit{
    color: white;
    padding: 0.5rem 0rem;
    background: rgb(86, 219, 119);
    border: none;
    transition: all ease 0.4s;
}
.btn-submit:hover{
    background: rgb(66, 248, 111);
    
}

input,
textarea {
    font-size: 1rem;
    height: 2rem;
    border-radius: 5px;
}


textarea {
    /* To properly align multiline text field with their label */
    vertical-align: top;
    /* To give enough room to type some text */
    height: 5em;
    /* To allow users to resize any textarea vertically
     It works only on Chrome, Firefox and Safari */
    resize: vertical;
}
